<section>
    <h1>
        {{quest.title}}
        <span *ngIf="quest.status === 'draft'" class="tag">{{quest.status}}</span>
    </h1>

    <div>
        <a class="link-accent" href="#" (click)="scrollToIdRef($event, feedbacks)">
            Feedback
            <app-svg-icon icon="starFilled" [size]="18" *ngIf='!!score'></app-svg-icon>
            <span [ngStyle]="!!score ? {} : {'color': 'var(--heading-color)', marginLeft: '8px' }">
                {{score || 'Not scored yet'}}
            </span>
        </a>
    </div>
</section>
<section>
    <p>
        <app-complexity-level [level]="quest.complexity"></app-complexity-level>
    </p>
    <p>
        {{quest.description}}
    </p>
</section>

<section class="section">
    <div class="section__header">
        <h3>Galery</h3>
    </div>
    <div>
        <img [src]="quest.banner" alt="banner" width="350">
    </div>
</section>

<section class="section">
    <div class="section__header">
        <h3>Booking</h3>
    </div>
    <div>
        <app-booking [quest]="quest"></app-booking>
    </div>
</section>

<section class="section" #feedbacks>
    <div class="section__header">
        <h3>Feedback</h3>
    </div>
    <ng-container *ngFor="let feedbackItem of quest.feedbacks">
        <div class="feedback">
            <div class="feedback__header">
                <div>
                    <span class="feedback__sender"> {{feedbackItem.author}}</span>
                    {{feedbackItem.time | date: 'short'}}
                </div>

                <div class="feedback__rating">
                    <ng-container *ngFor="let _ of [].constructor(feedbackItem.score)">
                        <app-svg-icon icon="starFilled" [size]="18"></app-svg-icon>
                    </ng-container>
                </div>
            </div>
            <div class="feedback__text">
                {{feedbackItem.text}}
            </div>
        </div>
    </ng-container>
    <div *ngIf="!quest.feedbacks">
        Nobody left feedback yet
        😳
    </div>
</section>