<div class="header">
    <h1 class="header__title">
        Workspace
    </h1>
    <button class="btn btn--primary-outline btn--auto" #submit type="submit" (click)="openModal()">
        Create Quest
    </button>
    <div class="header__description">
        Here you can manage your Quests.
    </div>
</div>

<section *ngIf="quests$ | async as quests" class="quest-section">
    <div *ngFor="let quest of quests" class="quest-section__item quest"
        [ngClass]="{'status-draft': quest.status === 'draft'}">
        <div class="quest__banner" [ngStyle]="{'background-image': 'url(' + quest.banner + ')'}">
        </div>
        <div class="quest__hidden-content">
            <!-- <p class="rating">
                <app-svg-icon icon="starFilled" [size]="18"></app-svg-icon>
                <span class="rating__number">{{quest.rating}}</span>
            </p> -->
            <p class="truncated-text">{{quest.description}}</p>
        </div>
        <a routerLink="/entity/{{quest.id}}" class="quest-link"></a>
        <div class="quest__header">
            <h3>{{quest.title}}</h3>
            <app-complexity-level [level]="quest.complexity"></app-complexity-level>
        </div>
    </div>
</section>

<ng-template #createQuest>
    <form class="form" [formGroup]="questFormGroup" #questForm="ngForm" (ngSubmit)="create()">

        <div class="form__field">
            <input class="form-control" [placeholder]="'title' | placeholder" formControlName="title">

            <div class="form__field--error" *ngIf="questForm.submitted && questFormGroup.get('title')?.errors">
                {{ errorMessage(questFormGroup.get('title')) }}
            </div>
        </div>

        <div class="form__field">
            <textarea class="form-control" name="description" id="description" rows="1"
                [placeholder]="'description' | placeholder " formControlName="description"></textarea>
            <div class="form__field--error" *ngIf="questForm.submitted && questFormGroup.get('description')?.errors">
                {{ errorMessage(questFormGroup.get('description')) }}
            </div>
        </div>

        <button class="btn btn--primary" #submit type="submit">Create</button>
    </form>
</ng-template>