<div class="header">
    <h1>
        Your Quest(s)
    </h1>
    <button class="btn btn--primary-outline btn--auto" #submit type="submit" (click)="createQuest()">
        Create Quest
    </button>
</div>

<section *ngIf="quests$ | async as quests">
    <div *ngFor=" let role of quests" class="dropdown__list-item" [ngClass]="{'status-draft': role.status === 'draft'}">
        <div class="banner" [ngStyle]="{'background-image': 'url(' + role.banner + ')'}"></div>
        <div class="banner-content">
            <p class="rating">
                <app-svg-icon icon="starFilled" [size]="18"></app-svg-icon>
                <span class="rating-number">{{role.rating}}</span>
            </p>
            <p>{{role.description}}</p>
        </div>
        <div class="content">
            <h3>{{role.title}}</h3>
            <app-complexity-level [level]="role.complexity"></app-complexity-level>
        </div>
    </div>
</section>

<app-modal>
    <h3>Create Quest</h3>
    <form class="form" [formGroup]="questFormGroup" #questForm="ngForm">

        <div class="form__field">
            <input class="form-control" [placeholder]="'title' | placeholder" formControlName="title">

            <div class="form__field--error" *ngIf="questForm.submitted && questFormGroup.get('title')?.errors">
                {{ getErrorMsg(questFormGroup.get('title')) }}
            </div>
        </div>

        <div class="form__field">
            <textarea class="form-control" name="description" id="description" rows="1"
                [placeholder]="'description' | placeholder " formControlName="description"></textarea>
            <div class="form__field--error" *ngIf="questForm.submitted && questFormGroup.get('description')?.errors">
                {{ getErrorMsg(questFormGroup.get('description')) }}
            </div>
        </div>

        <button class="btn btn--sm btn--primary mt-12" #submit type="submit" (click)="create()">Create</button>
    </form>
</app-modal>