@form-padding: 80px 40px;

:host {
  display: flex;
  max-width: 600px;
  margin: auto;
  width: 100%;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px var(--primary-color);

  &.reverse {
    flex-direction: row-reverse;
  }
}

.form {
  flex: 1;
  padding: @form-padding;
  margin: 0 auto;
  position: relative;

  &__heading {
    font-size: 28px;
    line-height: 32px;
    margin: 0 0 16px 0;
  }
}

.description {
  background: var(--primary-color);
  padding: @form-padding;
  flex-basis: 265px;
  font-size: 13px;
  line-height: 16px;
  color: var(--lightest-color);

  .form__heading {
    font-size: 22px;
    line-height: 26px;
    color: var(--secondary-color)
  }
}