<form class="form" [formGroup]="form.form_group" #signForm="ngForm">
    <h2 class="form__heading">{{form.form_name}}</h2>
    <ng-container *ngFor="let control of form.form_group.controls | keyvalue: keepOrder">
        <div class="form__field" [attr.data-testid]="control.key">
            <input class="form-control" [placeholder]="control.key | placeholder" [formControlName]="control.key"
                [ngClass]="{'form-control--error': signForm.submitted && control.value.errors }">

            <div class="form__field--error" *ngIf="signForm.submitted && control.value.errors">
                {{ getErrorMsg(control.value) }}
            </div>
        </div>
    </ng-container>

    <button class="btn btn--primary mt-12" #submit type="submit" (click)="onSubmit()">{{form.form_name}}</button>
</form>
<div class="description">
    <span class="description__heading">{{form.description_heading}}</span>
    <a [routerLink]="form.description_btn.route" class="link-primary" [attr.data-testid]="'link'">
        {{form.description_btn.text}}
        <app-svg-icon icon="forward" [size]="16"></app-svg-icon>
    </a>
</div>