<h1>
    User list
</h1>

<table *ngIf="userList$ | async as users">
    <colgroup>
        <col style="width: 20px;">
        <col *ngFor="let col of config" [style]="{width: col.width}">
        <col style="width: 160px">
    </colgroup>
    <thead>
        <tr>
            <th>№</th>
            <th *ngFor="let col of config">{{col.colname}}</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | sortByRole; let i = index">
            <td>{{i + 1}}</td>
            <td *ngFor="let col of config">
                <ng-container [ngSwitch]="col.type">
                    <ng-template ngSwitchCase="datetime">{{ user[col.colname] | date: 'short' }} </ng-template>
                    <ng-template ngSwitchCase="role">
                        <span [ngClass]="'role-' + user['role'].title">
                            {{ user[col.colname].title }}
                        </span>
                    </ng-template>
                    <ng-template ngSwitchDefault>{{ user[col.colname] }}</ng-template>
                </ng-container>
            </td>
            <td>
                <button class="btn btn--primary-outline btn--sm" (click)="updatePrivileges(user)">Update
                    privileges</button>
            </td>
        </tr>
    </tbody>
</table>

<app-modal>
    <h3>Update user role</h3>
    <div class="subheader">
        for {{user.username}}
    </div>

    <app-dropdown [defaultItem]="user.role" [list]="roles$" (onSubmitEvent)="onSubmit($event)"></app-dropdown>

    <button class="btn btn--sm btn--primary mt-12" #submit type="submit" (click)="update()">Update</button>

</app-modal>