<h3>
    User list
</h3>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th *ngFor="let col of config">{{col.colname}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of userList; let i = index">
            <td>{{i + 1}}</td>
            <td *ngFor="let col of config">
                <ng-container [ngSwitch]="col.type">
                    <ng-template ngSwitchCase="datetime">{{ item[col.colname] | date: 'short' }} </ng-template>
                    <ng-template ngSwitchDefault>{{ item[col.colname] }}</ng-template>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>