:host {
    width: 100%;
}

table {
    border-collapse: collapse;

    thead {
        th {
            font-size: 10px;
            text-align: left;
            padding: 8px;
            color: var(--secondary-color);
            text-transform: uppercase;
            border-bottom: 1px solid;
        }
    }

    td {
        font-size: 14px;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background: rgba(255, 255, 255, 0.05);
    }

}

.form__field {
    margin-bottom: 8px;
    display: flex;
    align-items: baseline;

    &--subheader {
        font-size: 14px;
        line-height: 20px;
        color: var(--secondary-color);
        margin-right: 4px;
    }

    &:last-of-type {
        margin-bottom: 12px;
    }
}

.subheader {
    font-size: 14px;
    line-height: 20px;
}
.role() {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
  }
.role {
    &-basic {
        .role;
        background: var(--primary-color);
    }
    &-admin {
        .role;
        background: var(--accent-color-70);
    }
}