<header class="container">
    <nav>
        <ul>
            <ng-container *ngIf="user">
                <li><a routerLink="/workspace" routerLinkActive="active" class="nav-link">Workspace</a></li>
                <li><a routerLink="/user-list" routerLinkActive="active" class="nav-link">User list</a></li>
                <!-- <li><a routerLink="/profile" class="nav-link"> {{user}} profile</a></li> -->
                <li>
                    <a href="/" (click)="logout()" class="nav-link">
                        <app-svg-icon icon="logout" [size]="24"></app-svg-icon>
                    </a>
                </li>
            </ng-container>
        </ul>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>